/* ==========================================================================
   Custom Variables
   ========================================================================== */

   $secondary-color: #FFAD00;
   $link-color: #b51b00;
   $body-text-color: #707070;
   $sidebar-width: 252px;


/* ==========================================================================
   Import Necessary Files
   ========================================================================== */
  
  @import "compass";
	@import "compass/reset";
	@import "vendor/bootstrap-grid";
	@import "vendor/lightbox";


/* ==========================================================================
   Custom Sprites
   ========================================================================== */

	@import "technologies/*.png";

	.t-sprite {
		@include all-technologies-sprites;

		span {
			display: block;
			width: 100px;
			height: 100px;
		}
	}


/* ==========================================================================
   Fonts & Typography
   ========================================================================== */

	@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
	@import url(http://fonts.googleapis.com/css?family=Allan:700);
	@import "modules/font_icons";

	@mixin body-font {
		font: 14px/24px 'Droid Sans', sans-serif;
	}

	@mixin heading-font {
		font-family: 'Droid Sans', sans-serif;
		font-weight: 700;
	}

	@mixin logo-font {
		font-family: 'Allan', sans-serif;
		letter-spacing: normal;
	}



/* ==========================================================================
    Build Specific Styles
   ========================================================================== */

	@import "stylesheet";

	
/* ==========================================================================
    Media Queries
   ========================================================================== */

	@import "modules/responsive";
