/* ==========================================================================
   Custom Variables
   ========================================================================== */

   $secondary-color: #FFAD00;
   $link-color: #b51b00;
   $body-text-color: #707070;
   $sidebar-width: 252px;


/* ==========================================================================
   Import Necessary Files
   ========================================================================== */
  
  @import "compass";
	@import "compass/reset";
	@import "vendor/lightbox";
  @import "modules/animations";


/* ==========================================================================
   Custom Sprites
   ========================================================================== */

	@import "technologies/*.png";

	.t-sprite {
		@include all-technologies-sprites;

		span {
			display: block;
			width: 100px;
			height: 100px;
		}
	}


/* ==========================================================================
   Fonts & Typography
   ========================================================================== */

	@import "modules/font_icons";

  @font-face {
    font-family: 'Allan';
    font-style: normal;
    font-weight: 700;
    src: local('Allan Bold'), local('Allan-Bold'), url(http://themes.googleusercontent.com/static/fonts/allan/v4/HDuJMALbbJ3Ny_JtXeABSXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
  }

  @font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
  }

	@mixin body-font {
		font: 14px/24px 'Droid Sans', sans-serif;
	}

	@mixin heading-font {
		font-family: 'Droid Sans', sans-serif;
		font-weight: 700;
	}

	@mixin logo-font {
		font-family: 'Allan', sans-serif;
		letter-spacing: normal;
	}



/* ==========================================================================
    Build Specific Styles
   ========================================================================== */

	@import "stylesheet";

	
/* ==========================================================================
    Media Queries
   ========================================================================== */

	@import "modules/responsive";
