/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1350px) { 
	.main-content {
		padding-right: 25px;
	}

	.secondary-sidebar {
		display: none;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#main_content {
		width: auto;
	}

	#right_sidebar {
		display: none;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
	.primary-sidebar {
		position: relative;
		width: 100%;
		margin-bottom: 40px;
	}
	.sidebar-widget {
		display: none;
	}
	.main-content {
		float: none;
		padding: 0;
		width: 100%;
		min-height: auto;

		h1 {
			margin-bottom: 0px;
			font-size: 28px;

			.logo-font {
				font-size: 49px;
			}
		}
		h2 {
			font-size: 4em;
		}
		.content-wrapper {
			width: 100%;
		}
		section {
			margin-bottom: 100px;
		}
		#about {
			width: 90%;
			margin-left: auto;
			margin-right: auto;

			.photo-wrapper {
				float: none;
				text-align: center;
			}
		}
	}
	.drew-illustration {
		display: none;
	}
	.main-nav {
		margin-top: 10px;
		margin-bottom: 0px;

		ul {
			overflow: hidden;
		}
		li {
			border: none;
			width: 48%;
			float: left;
			margin: 3px;
			background: #333;
			padding-left: 12px;

			&:first-child {
				display: none;
			}
		}
	}
	footer {
		display: none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}