/* ==========================================================================
   SASS Variables
   ========================================================================== */

$sidebar-width: 250px;
$secondary-color: #FFAD00;
$link-color: #b51b00;
$body-text-color: #707070;