/* ==========================================================================
   Partials: Layout
   ========================================================================== */

* {
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

body {
    @include body-font;
    background: #fafafa url(../images/bg_pattern-gray-lighter.png);
    color: $body-text-color;
}

.center {
    text-align: center;
}

blockquote {
    background: white;
    background: rgba(255,255,255,0.9);
    position: relative;
    border: 1px dashed rgb(187, 187, 187);
    margin: 15px 0;
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
}

.btn {
  text-decoration: none;
  color: inherit;
  padding: 7px 20px;
  margin: 0;
  display: inline-block;
  border-radius: 5px;
  transition-property: background;
  transition-duration: 0.2s;

  &.btn-light {
    background: #fff;
    background: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);

    &:hover {
      background: #fff;
    }
  }
}

.instagram-controls {
  a[class^="ig-"] {
    color: inherit;
    text-decoration: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.flex-container {
    display: flex;
    justify-content:space-between;
}

.sidebar {
  .wrapper {
        padding: 25px;
        position: fixed;
        width: $sidebar-width;
        height: 100%;
    }

    &.primary-sidebar {
        order: 1;
        flex: 0 0 $sidebar-width;
        align-self: stretch;
        justify-content: center;
        background: #1a1a1a;
        background: rgba(0,0,0,0.87);
        color: #888888;

        .sidebar-block-heading {
            color: white;
            display: inline-block;
        }
    }

    &.secondary-sidebar {
        order: 3;
        flex: 0 0 $sidebar-width;
        align-self: stretch;
        box-shadow: 0px 0px 7px rgb(179, 179, 179);

        .wrapper {
            background: url(../images/bg_pattern-gray-darker.png);
        }

        @media all and (max-width: 1245px) {
            display: none;
        }
    }

    .sidebar-block {
        margin: 0 0 25px 0;

        .sidebar-block-heading {
            @include font-size(20px);
            margin: 0;
        }

        .sidebar-flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: flex-start;
            align-items: center;
            margin: 0 0 15px 0;
        }

        .sidebar-flex-item {
            flex: 0 1 auto;
        }
    }
}

.logo {
    text-align: center;

    .heading {
        @include logo-font;
        @include font-size(40px);
        margin: 0;
        color: white;
        line-height: 1;

        &:hover {
            text-shadow: 0 0 5px #fff;
        }
    }

    .tagline {
        @include font-size(13px);
        font-style: italic;
        color: $secondary-color;
    }

    .profile-pic {
        img {
            border-radius: 50%;
            border: 2px solid #fff;
        }
    }

    a {
        margin: 0 0 12px 0;
        text-decoration: none;
        display: block;
    }
}

.main-nav {
  margin: 25px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding: 4px 0;
    border-bottom: 1px solid rgb(36, 36, 36);

    &.active a {
      color: $secondary-color;
      font-weight: bold;
    }

    &:hover {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 22%, rgba(48, 47, 48, 0.04) 23%, rgba(28, 28, 28, 0.22) 43%, rgba(27, 28, 27, 0.68) 81%, rgba(25, 26, 25, 0.74) 86%, rgba(20, 20, 20, 0.87) 100%);
    }
  }

  a {
    transition-property: color;
    transition-duration: 0.3s;
    color: #888;
    text-decoration: none;
    display: block;
    padding: 5px 0;

    &:hover {
      color: white;
    }
  }
}

.instagram-feed {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 140px;

    li {
        img {
            transition-property: border;
            transition-duration: 1s;
            border: 1px solid #333;
        }

        &:hover img {
            border: 1px solid #ccc;
        }
    }
}

.primary-footer {
    @include font-size(11px);
    text-align: center;
    margin-top: 50px;
}

.social_icons {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 25px;

  li {
    border-radius: 50%;
    background: #000;
    margin-right: 5px;
  }

  a {
    @include font-size(17px);
    transition-property: color;
    transition-duration: 0.5s;
    color: $body-text-color;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;

    &:hover {
      color: white;
      cursor: pointer;
    }

    &:active {
      color: $secondary-color;
    }
  }
}

.main-content {
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
    padding: 25px 50px;
    line-height: 24px;

    h1, h2 {
        text-shadow: 2px 2px 0px #fff;
    }

    h1 {
        @include font-size(40px);
        line-height: 45px;
        text-align: center;

        .logo-font {
            @include logo-font;
            @include font-size(60px);
        }
    }

    h2 {
        @include logo-font;
        @include font-size(87px);

        &.lines {
            text-align: center;
            position: relative;
            margin-top: 0;
            line-height: 60%;
            margin-bottom: 27px;

            &:before {
                content:"";
                display: block;
                border-top: 1px ridge rgb(216, 216, 216);
                border-bottom: 1px ridge rgb(216, 216, 216);
                width: 100%;
                height: 4px;
                position: absolute;
                top: 50%;
                z-index: 1;
            }

            span {
                padding: 0 20px;
                position: relative;
                z-index: 5;
                background: url(../images/bg_pattern-gray-lighter.png);
            }
        }
    }

    section {
        margin-bottom: 200px;
    }
}

.drew-illustration {
    background: url('../images/main_sprite.png') no-repeat 0 0;
    width: 523px;
    height: 464px;
    margin: auto;
}

.nc-state {
    background: url('../images/main_sprite.png') no-repeat -18px -491px;
    width: 273px;
    height: 141px;
    margin: 0 auto 40px auto;
}

#home {
    text-align: center;
    margin-top: 15px;

    .description {
      margin: 0 0 25px 0;
      line-height: 1.5;
    }
  }

  #about {
    .photo-wrapper {
      float: left;
    }
  }

#projects {
  .btn {
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 13px;

    i {
      font-size: 23px;
      position: relative;
      top: 2px;
    }
  }
}

.photo {
    box-shadow:  0px 0px 9px #ccc;
    border: 2px solid white;
    margin: 0 20px 10px 0;

    &.photo-rounded {
        border-radius: 50%;
    }
}

.contact-form {
  width: 400px;
  margin: 40px auto 0 auto;

  .form-row {
    margin-bottom: 10px;
    line-height: 33px;

    label {
      float: left;
      width: 120px;
      font-weight: bold;
      font-size:1.2em;
      position: relative;
      top: 2px;
    }

    .error {
      color: darkRed;
      font-weight: bold;
    }

    input[type=text], input[type=email], textarea {
      border-radius: 5px;
      padding: 8px 10px;
      border: 1px solid #dbdbdb;
      width: 250px;
      font-size: 80%;

      &:hover {
        background: #fff3c5;
        cursor: pointer;
      }
    }
  }

  textarea { resize:vertical; }

  input[type=submit] {
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    text-shadow: 0px -1px 1px rgba(0,0,0,0.25);
    border: none;
    background: #222;
    display: inline-block;
    padding: 5px 15px 6px;
    color: #fff !important;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    overflow: visible;
    width: auto;

    &:hover,  {
      background-color: #111;
      color: #fff;
    }
  }
}

.email-success {
  background: rgba(101, 221, 101, 0.3);
  border: 1px solid rgba(101, 221, 101, 0.5);
  padding: 10px;
  margin-top: 40px;
  text-align: center;

  h3, p { margin: 0; }
}

.technologies {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style-type: none;

    li {
      position: relative;
      width: 120px;
      height: 120px;
      margin: 5px;
      background: white;
      box-shadow: 0 0 3px #ccc;
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 10px #acacac;
        cursor: pointer;

        > span {
          opacity: 0.08;
        }

        .technologies-text {
          opacity: 1;

          h3 {
            margin: 0;
            line-height: 1.1;
          }

          p {
            @include font-size(12px);
            line-height: 1.1;
            margin: 5px 0 0 0;
          }

          .link {
            @include font-size(10px);
          }

          span {
            opacity: 1;
          }
        }
      }

      > span {
        display: block;
        transition: all .3s;
        margin: 10px;
      }
    }
    .technologies-text {
      position: absolute;
      top: 0;
      left: 0;
      display: table;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all .3s;

      span {
        width: 100px;
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        text-align: center;
        opacity: 0;
      }
    }
}
