.technologies-apple {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -100px;
  width: 100px;
  height: 100px;
}
.technologies-bower {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -800px;
  width: 100px;
  height: 100px;
}
.technologies-browsers {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -200px;
  width: 100px;
  height: 100px;
}
.technologies-css3 {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -300px;
  width: 100px;
  height: 100px;
}
.technologies-git {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -400px;
  width: 100px;
  height: 100px;
}
.technologies-grunt {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -500px;
  width: 100px;
  height: 100px;
}
.technologies-gulp {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -600px;
  width: 100px;
  height: 100px;
}
.technologies-html5 {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -700px;
  width: 100px;
  height: 100px;
}
.technologies-jquery {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
.technologies-magento {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -900px;
  width: 100px;
  height: 100px;
}
.technologies-mysql {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1000px;
  width: 100px;
  height: 100px;
}
.technologies-php {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1100px;
  width: 100px;
  height: 100px;
}
.technologies-responsive {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1200px;
  width: 100px;
  height: 100px;
}
.technologies-sass {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1300px;
  width: 100px;
  height: 100px;
}
.technologies-vagrant {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1400px;
  width: 100px;
  height: 100px;
}
.technologies-wordpress {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1500px;
  width: 100px;
  height: 100px;
}
.technologies-yeoman {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -1600px;
  width: 100px;
  height: 100px;
}
