/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-technologies-apple {
  background-image: url(../images/technologies-sprite.png);
  background-position: -100px 0px;
  width: 100px;
  height: 100px;
}
.icon-technologies-bower {
  background-image: url(../images/technologies-sprite.png);
  background-position: -300px -100px;
  width: 100px;
  height: 100px;
}
.icon-technologies-browsers {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -100px;
  width: 100px;
  height: 100px;
}
.icon-technologies-css3 {
  background-image: url(../images/technologies-sprite.png);
  background-position: -100px -100px;
  width: 100px;
  height: 100px;
}
.icon-technologies-git {
  background-image: url(../images/technologies-sprite.png);
  background-position: -200px 0px;
  width: 100px;
  height: 100px;
}
.icon-technologies-grunt {
  background-image: url(../images/technologies-sprite.png);
  background-position: -200px -100px;
  width: 100px;
  height: 100px;
}
.icon-technologies-gulp {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -200px;
  width: 100px;
  height: 100px;
}
.icon-technologies-html5 {
  background-image: url(../images/technologies-sprite.png);
  background-position: -100px -200px;
  width: 100px;
  height: 100px;
}
.icon-technologies-javascript {
  background-image: url(../images/technologies-sprite.png);
  background-position: -200px -200px;
  width: 100px;
  height: 100px;
}
.icon-technologies-jquery {
  background-image: url(../images/technologies-sprite.png);
  background-position: -300px 0px;
  width: 100px;
  height: 100px;
}
.icon-technologies-magento {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
.icon-technologies-mysql {
  background-image: url(../images/technologies-sprite.png);
  background-position: -300px -200px;
  width: 100px;
  height: 100px;
}
.icon-technologies-php {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -300px;
  width: 100px;
  height: 100px;
}
.icon-technologies-responsive {
  background-image: url(../images/technologies-sprite.png);
  background-position: -100px -300px;
  width: 100px;
  height: 100px;
}
.icon-technologies-sass {
  background-image: url(../images/technologies-sprite.png);
  background-position: -200px -300px;
  width: 100px;
  height: 100px;
}
.icon-technologies-terminal {
  background-image: url(../images/technologies-sprite.png);
  background-position: -300px -300px;
  width: 100px;
  height: 100px;
}
.icon-technologies-tmux {
  background-image: url(../images/technologies-sprite.png);
  background-position: -400px 0px;
  width: 100px;
  height: 100px;
}
.icon-technologies-vagrant {
  background-image: url(../images/technologies-sprite.png);
  background-position: -400px -100px;
  width: 100px;
  height: 100px;
}
.icon-technologies-vim {
  background-image: url(../images/technologies-sprite.png);
  background-position: -400px -200px;
  width: 100px;
  height: 100px;
}
.icon-technologies-wordpress {
  background-image: url(../images/technologies-sprite.png);
  background-position: -400px -300px;
  width: 100px;
  height: 100px;
}
.icon-technologies-yeoman {
  background-image: url(../images/technologies-sprite.png);
  background-position: 0px -400px;
  width: 100px;
  height: 100px;
}
