/* ==========================================================================
   Custom Sprites
   ========================================================================== */

.technologies {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    list-style-type: none;

    li {
      margin: 5px;
      padding: 10px;
      background: white;
      box-shadow: 0 0 3px #ccc;

      &:hover {
        box-shadow: 0 0 10px #acacac;
        cursor: pointer;
      }
    }
}

.technologies .technologies-apple, .technologies .technologies-bower, .technologies .technologies-browsers, .technologies .technologies-codekit, .technologies .technologies-css3, .technologies .technologies-filezilla, .technologies .technologies-git, .technologies .technologies-grunt, .technologies .technologies-html5, .technologies .technologies-jquery, .technologies .technologies-less, .technologies .technologies-magento, .technologies .technologies-mamp_pro, .technologies .technologies-mysql, .technologies .technologies-photoshop, .technologies .technologies-php, .technologies .technologies-responsive, .technologies .technologies-sass, .technologies .technologies-sublime_text2, .technologies .technologies-wordpress {
  background: url('../images/technologies-sprite.png') no-repeat;
}

.technologies .technologies-apple {
  background-position: 0 -1700px;
}
.technologies .technologies-bower {
  background-position: 0 0;
}
.technologies .technologies-browsers {
  background-position: 0 -1000px;
}
.technologies .technologies-codekit {
  background-position: 0 -200px;
}
.technologies .technologies-css3 {
  background-position: 0 -400px;
}
.technologies .technologies-filezilla {
  background-position: 0 -300px;
}
.technologies .technologies-git {
  background-position: 0 -1400px;
}
.technologies .technologies-grunt {
  background-position: 0 -600px;
}
.technologies .technologies-html5 {
  background-position: 0 -500px;
}
.technologies .technologies-jquery {
  background-position: 0 -1900px;
}
.technologies .technologies-less {
  background-position: 0 -1500px;
}
.technologies .technologies-magento {
  background-position: 0 -1800px;
}
.technologies .technologies-mamp_pro {
  background-position: 0 -100px;
}
.technologies .technologies-mysql {
  background-position: 0 -1300px;
}
.technologies .technologies-photoshop {
  background-position: 0 -700px;
}
.technologies .technologies-php {
  background-position: 0 -800px;
}
.technologies .technologies-responsive {
  background-position: 0 -1200px;
}
.technologies .technologies-sass {
  background-position: 0 -1100px;
}
.technologies .technologies-sublime_text2 {
  background-position: 0 -900px;
}
.technologies .technologies-wordpress {
  background-position: 0 -1600px;
}
.technologies span {
  display: block;
  width: 100px;
  height: 100px;
}